<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.ContactMapper">
	<select id="getAllContacts" resultType="entity.Contact">
		SELECT * FROM `contact` 
		<where>
			<if test="cname!=null and cname!=''">
				and cname like CONCAT('%',#{cname},'%')
			</if>
		</where>
		LIMIT #{pageNo},#{pageSize}
	</select>
	
	<select id="pageCount" resultType="int">
		SELECT COUNT(*) FROM `contact`
		<where>
			<if test="cname!=null and cname!=''">
				and cname like CONCAT('%',#{cname},'%')
			</if>
		</where>
	</select>
	
	<insert id="addContact">
		INSERT INTO `contact` (`cname`,`mobile`,`qq`,`email`,`address`) VALUES(#{cname},#{mobile},#{qq},#{email},#{address})
	</insert>
	
	<select id="getContactById" resultType="entity.Contact">
		SELECT * FROM `contact` WHERE id=#{id}
	</select>
	
	<update id="updateContact">
		update `contact` set `cname`=#{cname},`mobile`=#{mobile},`qq`=#{qq},`email`=#{email},`address`=#{address} where `id`=#{id}
	</update>
</mapper>